<div class="container">

  <h1>{{@model.activity.name}}</h1>
  <h3>{{@model.activity.description}}</h3>

  <div class="dateTime">
    <Calendar
      class="calendar-container"
      @availability={{@model.availability}}
    />
    <TimeSelect class="time" @availability={{@model.availability}} />
  </div>

  <div class="container-row">
    <div class="tickets">
      {{#each @model.activity.tickets as |ticket|}}
        <Ticket
          @ticket={{ticket}}
          @availability={{@model.availability}}
          class="ticket-item"
        />
      {{/each}}
    </div>
    <GuestInfo class="guestInfo" />
  </div>

  <LinkTo class="button bookNow" @route="confirmation">Book Now</LinkTo>
</div>